

h1 {color:#B50719}
p {color:#B50719}

button {
  background-color:#FFB8C9;
  border:none;
  color: white;
  font-size: 18px;
}
button:hover {
  color:#B50719;
}

.header-text {
  text-align: left;
}

.bonbon-regular {
  font-family: "bonbon", serif;
  font-weight: 400;
  font-style: normal;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.IMG1, .IMG2, .IMG3 {
  position:relative;
  width:15%;
  max-width: 1000px;
  height:auto;
  margin:10px;
  }

@media (max-width: 1025px) {
    h1  {font-size: 32px;}
    p { font-size: 24px; }
    button { font-size: 18px }
}

@media (max-width: 1024px) {
  h1 {font-size: 26px; }
  p {font-size: 20px; }
  button {font-size: 16px}

}

@media (max-width: 600px) {
  h1 {font-size: 20px }
  p {font-size: 18px }
  button {font-size: 14px}
  .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .images {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}